.Article {
  margin-top: 3vh;
  height: 100vh;
  width: 80%;
  margin-left: 10%;
  font-size: (13/100rem);
  .acticli-item{
    width: 100%;
    height: 15vh;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    transition: all 0.3s;
    display: flex;
    overflow: hidden;
    margin-bottom: 10px;
    cursor: pointer;
    .item-left{
        height: 15vh;
        width: 15vh;
        background-color: red;
        img{
            height: 100%;
            width: 100%;
        }
    }
    .item-right{
        text-align: center;
        flex:1;
        .time{
            margin-top: 2vh;
            font-size: (12/100rem);
            height: 3vh;
            line-height: 3vh;
            color: rgb(38, 128, 213);
        }
        .title{
            height: 5vh;
            line-height: 5vh;
            font-size: (20/100rem);
            font-weight: 700;

        }
        .classify1{
            height: 5vh;
            line-height: 5vh;
            .left{
                font-weight: 700;
                float: left;
                padding-left: 1vw;
            }
            .right{
                float:right;
            }
        }
    }
    &:hover {
        transform: translateY(-5px);
      }
  }
}

.topic::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  transform: scaleX(0);
  transform-origin: right;
  bottom: 0;
  height: 2px;
  background: rgb(11, 153, 241);
  transition: transform 0.5s cubic-bezier(0.93, 0.07, 0.17, 1);
}
.topic:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}
