.message-main {
  // background-color: red;
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  .left {
    overflow: hidden;
    width: 40px;
    margin-right: 10px;
    .img {
      width: 40px;
      height: 40px;
      border-radius: 5px;
      overflow: hidden;
      img {
        height: 100%;
        width: 100%;
      }
    }
  }
  .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    .title {
      font-size: (12/100rem);
      color: gray;
      display: flex;
      .name {
        color: black;
        font-weight: 700;
      }
      .ico {
        cursor: pointer;
        flex: 1;
        font-size: 14px;
        text-align: right;
        color: rgb(39, 155, 178);
      }
      div {
        margin-right: 5px;
      }
    }
    .content {
      font-size: (15/100rem);
    }
    .ip {
      color: gray;
      font-size: 12px;
    }
    .children {
      margin-top: 10px;
      display: flex;
      flex-wrap: wrap;
      .c-left {
        margin-right: 10px;
        overflow: hidden;
        width: 30px;
        .c-img {
          width: 30px;
          height: 30px;
          border-radius: 5px;
          overflow: hidden;
          img {
            max-width: 100%;
          }
        }
      }
      .c-right {
        flex: 1;
        display: flex;
        flex-direction: column;
        .c-title {
          font-size: (12/100rem);
          color: gray;
          display: flex;
          .name {
            color: black;
            font-weight: 700;
          }
          .ico {
            cursor: pointer;
            flex: 1;
            font-size: 12px;
            text-align: right;
            color: rgb(39, 155, 178);
          }
          div {
            margin-right: 5px;
          }
        }
        .c-content {
          font-size: (15/100rem);
        }
      }
      .hidden {
        flex: 0 0 100%;
        display: block;
        margin-top: 10px;
      }

      .children1 {
        display: flex;
        flex-wrap: wrap;
        flex: 0 0 100%;
        .c-left {
          margin-right: 10px;
          overflow: hidden;
          width: 30px;
          .c-img {
            width: 30px;
            height: 30px;
            border-radius: 5px;
            overflow: hidden;
            img {
              max-width: 100%;
            }
          }
        }
        .c-right {
          flex: 1;
          display: flex;
          flex-direction: column;
          .c-title {
            font-size: (12/100rem);
            color: gray;
            display: flex;
            .name {
              color: black;
              font-weight: 700;
            }
            .ico {
              cursor: pointer;
              flex: 1;
              text-align: right;
              color: rgb(39, 155, 178);
            }
            div {
              margin-right: 5px;
            }
          }
          .c-content {
            font-size: (15/100rem);
          }
        }
        .hidden {
          flex: 0 0 100%;
          display: block;
          margin-top: 10px;
        }
      }
    }
  }
  .hidden {
    flex: 0 0 100%;
    display: block;
    margin-top: 10px;
  }
}

.message-content {
  display: flex;
  .message-img {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    overflow: hidden;
    img {
      height: 100%;
      width: 100%;
    }
  }
  .message-input {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    .content-input {
      .input-item {
        margin: 5px 5px;
      }
    }
    .content-textarea {
      flex: 0 0 100%;
      .texxxxxxx {
        height: 100px;
      }
    }
    .content-commit {
      width: 100%;
      margin-bottom: 10px;
      .contene-button {
        background-color: rgb(82, 159, 246);
        color: #fff;
        float: right;
        margin-bottom: 10px;
      }
      .contene-cancer {
        float: right;
        margin-right: 10px;
      }
      border-bottom: 1px rgb(219, 217, 217) solid;
    }
  }
}

.message-count {
  margin: 10px 0;
  text-align: center;
  color: rgb(171, 170, 170);
  font-size: (17/100rem);
}

#itemitemitem {
  cursor: pointer;
  color: rgb(47, 149, 160);
  &:hover {
    color: black;
  }
}

#List-loading,
#List-indexitem {
  text-align: center;
  cursor: pointer;
  transition: all 0.3s;
  &:hover{
    color: rgb(47, 149, 160);
  }
}
