.Header {
  font-size: (20/100rem);
  height: (60/100rem);
  background-color: #fff;
  position: sticky;
  top: 0;
  display: flex;
  .logo {
    height: 100%;
    width: 2rem;
    background-color: red;
    text-align: center;
    img {
      display: block;
      height: 100%;
      margin-left: 40%;
    }
  }
  .nav {
    flex: 1;
    display: flex;
    line-height: (60/100rem);
    a {
      flex: 1;
      text-align: center;
    }
  }
  .hidden {
    width: 2rem;
    height: 100%;
    background-color: red;
    .hidden-1 {
      margin-left: 50%;
      display: none;
      font-size: (50/100rem);
    }
  }
}

@media screen and (max-width:768px){
			
}		
@media screen and (min-width:768px){
    
}	
@media screen and (min-width:1024px){
    
}	
@media screen and (min-width:1200px){
    
}	

