*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

.active{
    background-color: #fff;
}

body{
    background:url(../public/morning.jpg) no-repeat fixed;
    background-size: cover;
}



